In [260]:
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM
from datetime import datetime

In [261]:
df_customer=pd.read_csv(r"C:\Users\NAGARAJAN K\Desktop\dataspark\drive-download-20250618T052440Z-1-001\rawdata\Customers.csv",encoding='latin1')
df_Exchange_rates=pd.read_csv(r"C:\Users\NAGARAJAN K\Desktop\dataspark\drive-download-20250618T052440Z-1-001\rawdata\Exchange_Rates.csv",encoding='latin1')
df_products=pd.read_csv(r"C:\Users\NAGARAJAN K\Desktop\dataspark\drive-download-20250618T052440Z-1-001\rawdata\Products.csv",encoding='latin1')
df_sales=pd.read_csv(r"C:\Users\NAGARAJAN K\Desktop\dataspark\drive-download-20250618T052440Z-1-001\rawdata\Sales.csv",encoding='latin1')
df_stores=pd.read_csv(r"C:\Users\NAGARAJAN K\Desktop\dataspark\drive-download-20250618T052440Z-1-001\rawdata\Stores.csv",encoding='latin1')

In [262]:
data_list = [
    ("df_customer", df_customer),
    ("df_Exchange_rates", df_Exchange_rates),
    ("df_products", df_products),
    ("df_sales", df_sales),
    ("df_stores", df_stores)
]
for name, df in data_list:
    print(f"\n DataFrame: {name}")
    print(df.info())
    print(df.isnull().sum())

 DataFrame: df_customer
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB
None
CustomerKey     0
Gender          0
Name            0
City            0
State Code     10
State           0
Zip Code        0
Country         0
Continent       0
Birthday        0
dtype: int64

 DataFrame: df_Exchange_rates
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB
None
Date        0
Currency    0
Exchange    0
dtype: int64

 DataFrame: df_products
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB
None
ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

 DataFrame: df_sales
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB
None
Order Number         0
Line Item            0
Order Date           0
Delivery Date    49719
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64

 DataFrame: df_stores
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  67 non-null     int64
 4   Open Date      67 non-null     object
dtypes: int64(2), object(3)
memory usage: 2.7+ KB
None
StoreKey         0
Country          0
State            0
Square Meters    0
Open Date        0
dtype: int64

In [263]:
df_Exchange_rates['Date']=pd.to_datetime(df_Exchange_rates['Date'],errors='coerce')
df_Exchange_rates.rename(columns={'Currency':'Currency Code'})

            Date Currency Code  Exchange
0     2015-01-01           USD    1.0000
1     2015-01-01           CAD    1.1583
2     2015-01-01           AUD    1.2214
3     2015-01-01           EUR    0.8237
4     2015-01-01           GBP    0.6415
...          ...           ...       ...
11210 2021-02-20           USD    1.0000
11211 2021-02-20           CAD    1.2610
11212 2021-02-20           AUD    1.2723
11213 2021-02-20           EUR    0.8238
11214 2021-02-20           GBP    0.7126

[11215 rows x 3 columns]

In [264]:
from dateutil.parser import parse
# Replace NaN in 'State Code' with 'NAP' where 'State' is 'Napoli'
df_customer.loc[(df_customer['State'].str.upper() == 'NAPOLI') & (df_customer['State Code'].isna()), 'State Code'] = 'NAP'

def safe_parse(date_str):
    try:
        return parse(date_str, dayfirst=False)
    except:
        return pd.NaT
def age_group(age):
    if age<30:
        return 'Young'
    elif age<=50:
        return 'Middle'
    else:
        return 'Senior'

df_customer['Birthday'] = df_customer['Birthday'].astype(str).apply(safe_parse)
df_customer['Age']= datetime.now().year-df_customer['Birthday'].dt.year

df_customer['Age_group']=df_customer['Age'].apply(age_group)
print(df_customer.isnull().sum())
print(df_customer.info())

CustomerKey    0
Gender         0
Name           0
City           0
State Code     0
State          0
Zip Code       0
Country        0
Continent      0
Birthday       0
Age            0
Age_group      0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15266 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  datetime64[ns]
 10  Age          15266 non-null  int32
 11  Age_group    15266 non-null  object
dtypes: datetime64[ns](1), int32(1), int64(1), object(9)
memory usage: 1.3+ MB
None

In [265]:
# Clean and convert 'Unit Cost USD'
df_products['Unit Cost USD'] = df_products['Unit Cost USD'].str.replace('$', '', regex=False)\
                                                           .str.replace(',', '', regex=False)\
                                                           .str.strip()\
                                                           .astype(float)

# Clean and convert 'Unit Price USD'
df_products['Unit Price USD'] = df_products['Unit Price USD'].str.replace('$', '', regex=False)\
                                                             .str.replace(',', '', regex=False)\
                                                             .str.strip()\
                                                             .astype(float)

In [266]:
# Remove invisible/trailing characters and strip spaces
df_stores['Open Date'] = df_stores['Open Date'].astype(str).str.strip().str.replace(r"[^\x00-\x7F]+", "", regex=True)
df_stores['Is_Online'] = df_stores['State'].str.lower().str.contains('online')

# Convert to datetime
df_stores['Open Date'] = pd.to_datetime(df_stores['Open Date'], errors='coerce')
df_stores.isnull().sum()

StoreKey         0
Country          0
State            0
Square Meters    0
Open Date        0
Is_Online        0
dtype: int64

In [267]:
# df_sales['Order Date'] = pd.to_datetime(df_sales['Order Date'], errors='coerce')

df_sales['Delivery Date'] = pd.to_datetime(df_sales['Delivery Date'], errors='coerce')

# Step 1: Calculate max Delivery Date per Currency Code (excluding NaT)
max_dates = df_sales.dropna(subset=['Delivery Date']) \
                    .groupby('Currency Code')['Delivery Date'].max()

# Step 2: Define a function to apply for missing values
def fill_delivery_date(row):
    if pd.isna(row['Delivery Date']):
        return max_dates.get(row['Currency Code'], pd.NaT)
    return row['Delivery Date']

# Step 3: Apply the function
df_sales['Delivery Date'] = df_sales.apply(fill_delivery_date, axis=1)
print(df_sales.isnull().sum())  # Should be 0 if all were filled

Order Number     0
Line Item        0
Order Date       0
Delivery Date    0
CustomerKey      0
StoreKey         0
ProductKey       0
Quantity         0
Currency Code    0
dtype: int64

In [268]:
df_sales['Order Date'] = df_sales['Order Date'].astype(str).str.strip().str.replace(r"[^\x00-\x7F]+", "", regex=True)

# Step 2: Parse dates robustly
def parse_date(x):
    try:
        return parser.parse(x)
    except:
        return pd.NaT

df_sales['Order Date'] = df_sales['Order Date'].apply(safe_parse)

# Step 3: Extract datetime parts
df_sales['Order_Year'] = df_sales['Order Date'].dt.year
df_sales['Order_Month'] = df_sales['Order Date'].dt.month
df_sales['Order_DayName'] = df_sales['Order Date'].dt.day_name()
print(df_sales.isnull().sum())

Order Number     0
Line Item        0
Order Date       0
Delivery Date    0
CustomerKey      0
StoreKey         0
ProductKey       0
Quantity         0
Currency Code    0
Order_Year       0
Order_Month      0
Order_DayName    0
dtype: int64

In [269]:
# Remove invisible/trailing characters and strip spaces
df_stores['Open Date'] = df_stores['Open Date'].astype(str).str.strip().str.replace(r"[^\x00-\x7F]+", "", regex=True)

# Convert to datetime
df_stores['Open Date'] = pd.to_datetime(df_stores['Open Date'], errors='coerce')
df_stores.isnull().sum()

StoreKey         0
Country          0
State            0
Square Meters    0
Open Date        0
Is_Online        0
dtype: int64

In [271]:
data_list = [
    ("df_customer", df_customer),
    ("df_Exchange_rates", df_Exchange_rates),
    ("df_products", df_products),
    ("df_sales", df_sales),
    ("df_stores", df_stores)
]

output_path = r"C:\Users\NAGARAJAN K\Desktop\dataspark\Cleaned"
for name, df in data_list:
    print(f"\n DataFrame: {name}")
    print(df.info())
    # print(df.isnull().sum())
    file_name = f"{name}_cleaned.csv"
    full_path = f"{output_path}\\{file_name}"
    df.to_csv(full_path, index=False, encoding='utf-8-sig')
    print(f"✅ Saved: {file_name}")

 DataFrame: df_customer
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15266 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  datetime64[ns]
 10  Age          15266 non-null  int32
 11  Age_group    15266 non-null  object
dtypes: datetime64[ns](1), int32(1), int64(1), object(9)
memory usage: 1.3+ MB
None
✅ Saved: df_customer_cleaned.csv

 DataFrame: df_Exchange_rates
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  datetime64[ns]
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 263.0+ KB
None
✅ Saved: df_Exchange_rates_cleaned.csv

 DataFrame: df_products
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   float64
 5   Unit Price USD  2517 non-null   float64
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB
None
✅ Saved: df_products_cleaned.csv

 DataFrame: df_sales
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  datetime64[ns]
 3   Delivery Date  62884 non-null  datetime64[ns]
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
 9   Order_Year     62884 non-null  int32
 10  Order_Month    62884 non-null  int32
 11  Order_DayName  62884 non-null  object
dtypes: datetime64[ns](2), int32(2), int64(6), object(2)
memory usage: 5.3+ MB
None
✅ Saved: df_sales_cleaned.csv

 DataFrame: df_stores
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  67 non-null     int64
 4   Open Date      67 non-null     datetime64[ns]
 5   Is_Online      67 non-null     bool
dtypes: bool(1), datetime64[ns](1), int64(2), object(2)
memory usage: 2.8+ KB
None
✅ Saved: df_stores_cleaned.csv

In [272]:
df_sales_customer=pd.merge(df_sales,df_customer,on='CustomerKey',how='left')
df_sales_customer.isnull().sum()
df_sales_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  datetime64[ns]
 3   Delivery Date  62884 non-null  datetime64[ns]
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
 9   Order_Year     62884 non-null  int32
 10  Order_Month    62884 non-null  int32
 11  Order_DayName  62884 non-null  object
 12  Gender         62884 non-null  object
 13  Name           62884 non-null  object
 14  City           62884 non-null  object
 15  State Code     62884 non-null  object
 16  State          62884 non-null  object
 17  Zip Code       62884 non-null  object
 18  Country        62884 non-null  object
 19  Continent      62884 non-null  object
 20  Birthday       62884 non-null  datetime64[ns]
 21  Age            62884 non-null  int32
 22  Age_group      62884 non-null  object
dtypes: datetime64[ns](3), int32(3), int64(6), object(11)
memory usage: 10.3+ MB

In [273]:
df_sales_customer_product=pd.merge(df_sales_customer,df_products,on='ProductKey',how='left')
print(df_sales_customer_product.info())
print(df_sales_customer_product.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 32 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Number    62884 non-null  int64
 1   Line Item       62884 non-null  int64
 2   Order Date      62884 non-null  datetime64[ns]
 3   Delivery Date   62884 non-null  datetime64[ns]
 4   CustomerKey     62884 non-null  int64
 5   StoreKey        62884 non-null  int64
 6   ProductKey      62884 non-null  int64
 7   Quantity        62884 non-null  int64
 8   Currency Code   62884 non-null  object
 9   Order_Year      62884 non-null  int32
 10  Order_Month     62884 non-null  int32
 11  Order_DayName   62884 non-null  object
 12  Gender          62884 non-null  object
 13  Name            62884 non-null  object
 14  City            62884 non-null  object
 15  State Code      62884 non-null  object
 16  State           62884 non-null  object
 17  Zip Code        62884 non-null  object
 18  Country         62884 non-null  object
 19  Continent       62884 non-null  object
 20  Birthday        62884 non-null  datetime64[ns]
 21  Age             62884 non-null  int32
 22  Age_group       62884 non-null  object
 23  Product Name    62884 non-null  object
 24  Brand           62884 non-null  object
 25  Color           62884 non-null  object
 26  Unit Cost USD   62884 non-null  float64
 27  Unit Price USD  62884 non-null  float64
 28  SubcategoryKey  62884 non-null  int64
 29  Subcategory     62884 non-null  object
 30  CategoryKey     62884 non-null  int64
 31  Category        62884 non-null  object
dtypes: datetime64[ns](3), float64(2), int32(3), int64(8), object(16)
memory usage: 14.6+ MB
None
Order Number      0
Line Item         0
Order Date        0
Delivery Date     0
CustomerKey       0
StoreKey          0
ProductKey        0
Quantity          0
Currency Code     0
Order_Year        0
Order_Month       0
Order_DayName     0
Gender            0
Name              0
City              0
State Code        0
State             0
Zip Code          0
Country           0
Continent         0
Birthday          0
Age               0
Age_group         0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [274]:
df1=df_sales_customer_product

In [275]:
df1_store=pd.merge(df1,df_stores.drop(['Country','State'],axis=1),on='StoreKey',how='left')
print(df1_store.info())
print(df1_store.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Number    62884 non-null  int64
 1   Line Item       62884 non-null  int64
 2   Order Date      62884 non-null  datetime64[ns]
 3   Delivery Date   62884 non-null  datetime64[ns]
 4   CustomerKey     62884 non-null  int64
 5   StoreKey        62884 non-null  int64
 6   ProductKey      62884 non-null  int64
 7   Quantity        62884 non-null  int64
 8   Currency Code   62884 non-null  object
 9   Order_Year      62884 non-null  int32
 10  Order_Month     62884 non-null  int32
 11  Order_DayName   62884 non-null  object
 12  Gender          62884 non-null  object
 13  Name            62884 non-null  object
 14  City            62884 non-null  object
 15  State Code      62884 non-null  object
 16  State           62884 non-null  object
 17  Zip Code        62884 non-null  object
 18  Country         62884 non-null  object
 19  Continent       62884 non-null  object
 20  Birthday        62884 non-null  datetime64[ns]
 21  Age             62884 non-null  int32
 22  Age_group       62884 non-null  object
 23  Product Name    62884 non-null  object
 24  Brand           62884 non-null  object
 25  Color           62884 non-null  object
 26  Unit Cost USD   62884 non-null  float64
 27  Unit Price USD  62884 non-null  float64
 28  SubcategoryKey  62884 non-null  int64
 29  Subcategory     62884 non-null  object
 30  CategoryKey     62884 non-null  int64
 31  Category        62884 non-null  object
 32  Square Meters   62884 non-null  int64
 33  Open Date       62884 non-null  datetime64[ns]
 34  Is_Online       62884 non-null  bool
dtypes: bool(1), datetime64[ns](4), float64(2), int32(3), int64(9), object(16)
memory usage: 15.7+ MB
None
Order Number      0
Line Item         0
Order Date        0
Delivery Date     0
CustomerKey       0
StoreKey          0
ProductKey        0
Quantity          0
Currency Code     0
Order_Year        0
Order_Month       0
Order_DayName     0
Gender            0
Name              0
City              0
State Code        0
State             0
Zip Code          0
Country           0
Continent         0
Birthday          0
Age               0
Age_group         0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
Square Meters     0
Open Date         0
Is_Online         0
dtype: int64

In [276]:
df1_store["Total_cost_USD"]=df1_store['Unit Cost USD']*df1_store["Quantity"]
df1_store["Total_price_USD"]=df1_store['Unit Price USD']*df1_store["Quantity"]
print(df1_store.info())
print(df1_store.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order Number     62884 non-null  int64
 1   Line Item        62884 non-null  int64
 2   Order Date       62884 non-null  datetime64[ns]
 3   Delivery Date    62884 non-null  datetime64[ns]
 4   CustomerKey      62884 non-null  int64
 5   StoreKey         62884 non-null  int64
 6   ProductKey       62884 non-null  int64
 7   Quantity         62884 non-null  int64
 8   Currency Code    62884 non-null  object
 9   Order_Year       62884 non-null  int32
 10  Order_Month      62884 non-null  int32
 11  Order_DayName    62884 non-null  object
 12  Gender           62884 non-null  object
 13  Name             62884 non-null  object
 14  City             62884 non-null  object
 15  State Code       62884 non-null  object
 16  State            62884 non-null  object
 17  Zip Code         62884 non-null  object
 18  Country          62884 non-null  object
 19  Continent        62884 non-null  object
 20  Birthday         62884 non-null  datetime64[ns]
 21  Age              62884 non-null  int32
 22  Age_group        62884 non-null  object
 23  Product Name     62884 non-null  object
 24  Brand            62884 non-null  object
 25  Color            62884 non-null  object
 26  Unit Cost USD    62884 non-null  float64
 27  Unit Price USD   62884 non-null  float64
 28  SubcategoryKey   62884 non-null  int64
 29  Subcategory      62884 non-null  object
 30  CategoryKey      62884 non-null  int64
 31  Category         62884 non-null  object
 32  Square Meters    62884 non-null  int64
 33  Open Date        62884 non-null  datetime64[ns]
 34  Is_Online        62884 non-null  bool
 35  Total_cost_USD   62884 non-null  float64
 36  Total_price_USD  62884 non-null  float64
dtypes: bool(1), datetime64[ns](4), float64(4), int32(3), int64(9), object(16)
memory usage: 16.6+ MB
None
Order Number       0
Line Item          0
Order Date         0
Delivery Date      0
CustomerKey        0
StoreKey           0
ProductKey         0
Quantity           0
Currency Code      0
Order_Year         0
Order_Month        0
Order_DayName      0
Gender             0
Name               0
City               0
State Code         0
State              0
Zip Code           0
Country            0
Continent          0
Birthday           0
Age                0
Age_group          0
Product Name       0
Brand              0
Color              0
Unit Cost USD      0
Unit Price USD     0
SubcategoryKey     0
Subcategory        0
CategoryKey        0
Category           0
Square Meters      0
Open Date          0
Is_Online          0
Total_cost_USD     0
Total_price_USD    0
dtype: int64

In [277]:
df1_store.to_csv(r'C:\Users\NAGARAJAN K\Desktop\dataspark\Cleaned\mergeddata.csv',index=False)

In [258]:
import pandas as pd
from sqlalchemy import create_engine, text
# Step 1: Connect without database to create it first
temp_engine = create_engine("mysql+pymysql://root:1234@localhost:3306")

# Step 2: Create the database if not exists
with temp_engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS DataSpark"))
# Create SQLAlchemy engine# Now connect to the actual DataSpark database
engine = create_engine("mysql+pymysql://root:1234@localhost:3306/DataSpark")

In [259]:
# Upload the merged dataset to MySQL
df1_store.to_sql("Sales_Store_Customer_Product", con=engine, if_exists='replace', index=False)
df_Exchange_rates.to_sql("Exchange_rates", con=engine,if_exists='replace',index=False)

print("✅ df1_store uploaded as 'Sales_Store_Customer_Product' to MySQL database: DataSpark")

C:\Users\NAGARAJAN K\AppData\Local\Temp\ipykernel_38708\2511869384.py:2: UserWarning: The provided table name 'Sales_Store_Customer_Product' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df1_store.to_sql("Sales_Store_Customer_Product", con=engine, if_exists='replace', index=False)

✅ df1_store uploaded as 'Sales_Store_Customer_Product' to MySQL database: DataSpark

C:\Users\NAGARAJAN K\AppData\Local\Temp\ipykernel_38708\2511869384.py:3: UserWarning: The provided table name 'Exchange_rates' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_Exchange_rates.to_sql("Exchange_rates", con=engine,if_exists='replace',index=False)